---
import { Image } from "astro:assets"
import Layout from "../../layouts/Layout.astro"
import { getLaunches, getLaunchesById } from "../../services/spacex"

const { id } = Astro.params
let launches

if(id){
    launches = await getLaunchesById(id)
    console.log('ahora mi launches es:',launches)
}

console.log('namee == ',launches?.name)



export async function getStaticPaths() {
    const launches = await getLaunches()
    return launches.map((launch) =>(
        {params: {id: launch.id}}
    ))
}
---

<Layout>
    <div class="text-white flex flex-col items-center">
        <picture>
            <Image transition:name={id} height={200} width={200} src={launches?.links.patch.small} alt="">
        </picture>
            <h2 class=" text-2xl font-bold tracking-wide mt-4 " >{launches?.name}</h2>
        </div>
    
</Layout>