---
import Layout from "../../layouts/Layout.astro"
import { getLaunchesById } from "../../services/spacex"

const {id} = Astro.params
let launches

if(id){
    launches = await getLaunchesById(id)  
}
console.log(launches)           
---

<Layout>
    <div>{id}</div>
    <div>{launches}</div>
</Layout>