---
import Layout from "../layouts/Layout.astro";
import '../styles/global.css';

---
<Layout>
    <div class="fixed top-0  z-[-2] h-screen w-screen bg-neutral-900 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
    <h1>About the project</h1>

</Layout>